body{
    margin-top: 10px;
}



html, body {
height: 100%;
margin: 0;
padding: 0;
min-height: 100%;
}

h1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Slabo 27px', serif;
}

h2 {
    display: inline; 
}

h4 {
    margin: 20px 0 10px 20px;
    font-weight: bolder;
}

h4.slogan {
    position: absolute;
    top: 250px;
    left: 0;
}


img {
    float: left;
    width: 150px;
}

img.icon{
    height: 40px;
    width: 40px;
}

img.icon-side {
    width: 100%;
    margin-bottom: 7px;
}

.logo-results {
    position: fixed;
    top: 0; 
    left: 0;
}

.searchBar{
    margin:auto;
    margin-top:10%;
    width: 65%;
    padding: 10px;
    opacity: .90;
}

.search-field {
    height: 100%;
    width: 100%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
    margin-bottom: 10px;
}

.search-title {
    margin-top: 40px;
}

button.return-btn {
    margin-left: 30px;
    margin-top: 180px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    
}

.listing-btn {
    display: inline;
    margin: 2px;
}

#front-page{
    /* background-image: url('../images/60332-full_abstract-4k-light-vector-background-footage-with-white-and-black.gif'); */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
} 

#company_url {
    margin: 5px 0 5px 0;
}

#description{
    width: 80%;
    margin: 30px 5% 10px 5%;
}
.card-body {
    border-bottom: solid 1px grey;
    border-radius: 1px;
    margin-top: 10px;
}

.card {
    border: solid px grey;
    border-radius: 5px;
    margin-top: 10px;
}

#map {

    height: 400px;

}

#google-maps {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}



