body{
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
#map {
    height: 400px;
    width: 0 auto;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
.search, .about{
    text-align:left;
    margin: auto;
    width: 85%;
    /* border: 3px solid rgb(2, 255, 234); */
    padding: 10px;
    opacity: .8;
    background-color: aliceblue;
    border-radius: 5px;
}
.about{
    margin-top:10px;
    opacity: .8;
    background-color: aqua;
    margin-bottom: 2000px;
}
.results{
    color:rgb(4, 73, 151);
}
.searchBar{
    margin:auto;
    margin-top:25%;
    width: 85%;
    padding: 10px;
    opacity: .90;
    background-color: rgb(144, 150, 155);
    border-radius: 5px;
}
h1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Slabo 27px', serif;
}
#front-page{
    background-image: url('../images/60332-full_abstract-4k-light-vector-background-footage-with-white-and-black.gif');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

